<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/animaciones.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;531;600;700;800;900&display=swap" rel="stylesheet">
    <title>Calu Wonder</title>
  </head>
  <body>
    <div class="about-back container-fluid">
        <section>
            <div class="d-flex justify-content-center head">
                <div class="btn-back"><a href="../index.html">-</a> </div>
                <div class="tit-1">about</div>
                <div class="deco-text" style="color:magenta">:</div>
                <div class="tit-1">Me</div>
                <div id="show" class="btn-menu">+</div>
                    <div class="menu" style="display: none;">
                        <ol>
                        <li>diseño;Digital</li>
                        <li>Web.</li>
                        <li>xCaluWonder</li>
                        <li>Contacto</li>
                        </ol>
                    </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <img src="../img/cw-img.png">
            </div>
            <div class="col-8 offset-2 about">
                <p><strong><i>Diseñadora gráfica de profesión y por diversión,</i></strong> años trabajando en diversas áreas del diseño 
                    me han permitido hoy en día ser una <span style="color: #F757EB;">profesional altamente capacitada</span> y con mucho 
                    conocimiento para compartir. Con un <strong>alma viajera</strong> que me ha llevado a recónditos lugares de este mundo, 
                    los que me han permitido aprender a ver las cosas desde otra perspectiva. Disfruto cada instante y me gusta que la gente 
                    que me rodea se contagie de la buena energía. <span style="color: #F757EB;"><i>Hacer de cada cosa, momento o lugar algo maravilloso.</i></span> </p>
            </div>
        </section>
        <button class="plus-about1" id="open">+</button>  
        <section class="estudios">
            <div class="cls-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="236.571" height="400" viewBox="0 0 236.571 400" >
                <path id="Trazado_2" data-name="Trazado 2" class="cls-1 GmGAsBXs_0" d="M450.653,1610.021,216.084,1610l1.409,400" transform="translate(-215.081 -1609)"></path>
                <style data-made-with="vivus-instant">.GmGAsBXs_0{stroke-dasharray:687 689;stroke-dashoffset:688;animation:GmGAsBXs_draw 3000ms linear 0ms forwards;}@keyframes GmGAsBXs_draw{100%{stroke-dashoffset:0;}}@keyframes GmGAsBXs_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>
               <div class="line-box"></div>
            </div>
            <div class="offset-1 fade-in-top">
                <p>ESTUDIOS:
                    <ul>
                        <li><strong>Diseño Gráfico Profesional,</strong> Duoc UC 2010.</li>
                        <li><strong>Diplomado Crossmedia Design,</strong> academia macpc 2013.</li>
                        <li><strong>Licenciatura en Comunicaciones en Multimedios,</strong> U Mayor 2014.</li>
                        <li><strong>Curso diseño UX/UI,</strong> 2019 Coderhouse Arg.</li>
                        <li><strong>Curso Diseño web,</strong> 2020 Coderhouse Arg.</li>
                    </ul>
                </p>
                <button class="cerrar2">X</button>
            </div>   
        </section>
        <button class="heart" id="heart"> </button>
        <section class="world fade-in-top" id="mundo">
            <button class="cerrar">X</button>
            <div class="col-12 row text-about world">
                <img src="../img/brighton beach_melbourne-small.jpg" class="col-5 offset-1 world">
                <div class="col-5">
                    <h1>Me perdí por el mundo durante 5 años!</h1>
                    <p>A fines del 2014 decidí comenzar la aventura más increíble de mi vida, me fui hasta Nueva Zelanda 
                        a vivir la ahora popular “working holiday experience”. Como lo disfruté mucho, en el 2015 crucé el 
                        charco y viví en Australia por otro año más, para luego viajar un poco por aquí y por allá, hasta 
                        finalmente llegar a Europa, donde durante el 2017 viví en Francia y 2018/19 en mi amada Berlin, Alemania.</p>
                    <span>WANDERLUST
                        “Viajar es una brutalidad. Te obliga a confiar en extraños y a perder de vista todo lo que te resulta 
                        familiar y confortable de tus amigos y tu casa. Estás todo el tiempo en desequilibrio. Nada es tuyo 
                        excepto lo más esencial: el aire, las horas de descanso, los sueños, el mar, el cielo; todas aquellas 
                        cosas que tienden hacia lo eterno o hacia lo que imaginamos como tal”. -Cesare Pavese-</span>
                </div>
            </div>
        </section>
        <button class="plus-about3" id="open3">+</button>
        <section id="laboral">
            <div class="row d-flex justify-content-center">
                <h1 class="col-12">EXPERIENCIA LABORAL</h1>
                <div class="lab-text col-5 d-flex flex-column" style="padding:0 30px 0 60px;">
                    <span>
                        <h2>2019 / Calu Wonder</h2>
                        <p>Al volver a Chile en 2019, comencé a trabajar oficialmente como freelance en mi propia marca, donde mayoritariamente busco asesorar en experiencia 
                            de usuario, y contribuir en el desarrollo digital de mis clientes.  </p>
                    </span>
                    <span>
                        <h2>2014 / Metadata</h2>
                        <p>Tres meses antes de irme del país tuve la oportunidad de realizar un gran proyecto para Metadata, una empresa que 
                            realiza soluciones tecnológicas educacionales para Santillana, pude desempeñar mis conocimientos como diseñadora UX/UI, 
                            realizando prototipos para aplicaciones de educación y diseñar su sitio empresa. Luego en el 2020 volví a trabajar con ellos, 
                            asesorándolos en mejoras de experiencia de usuario para varias de sus plataformas. </p>
                    </span>
                    <span>
                        <h2>2014 / Clínica Ciudad del Mar (Viña del Mar)</h2>
                        <p>Este quizás ha sido uno de los lugares en los que más logré desarrollarme profesionalmente, como diseñadora para el área comercial 
                            y comunicaciones, tuve la gran oportunidad junto con Rodrigo Bravo (Jefe del área) de tomar las riendas de todo el diseño tanto interno, 
                            comunicaciones, publicidad, marketing, y todo lo que nosotros pudiésemos realizar. 
                            Luego de la esta gran experiencia fue cuando decidí irme a Nueva Zelanda, pero cuando volví a Chile en el 2019, tuve nuevamente la oportunidad 
                            de trabajar en la clínica reemplazando por unos días a la misma diseñadora que había tomado mi lugar cuando me fui. Fue un orgullo para mí darme 
                            cuenta que después de tantos años aún seguían vigentes muchos  de los diseños que yo había realizado e implementado.</p>
                    </span>
                </div>
                <div class="lab-text col-5 d-flex align-items-start flex-column" style="padding: 0 60px 0 30px;">
                    <span>
                        <h2>2013 / Agencia 4 monos / Armtrong & Asociados</h2>
                        <p> Tuve la oportunidad de trabajar para estas dos agencias publicitarías como diseñadora gráfica por proyecto,  
                            ganando mucha experiencia en el rubro publicitario y digital.
                            Para la agencia 4 monos era quien estaba a la cabeza de la Marca Flores (Lencería) diseñando 360 y degradando 
                            su primera revista editorial / catálogo.
                        </p>
                    </span>
                    <span>
                        <h2>2011 / Imagemaker</h2>
                        <p>Empresa del rubro IT, dónde tuve la oportunidad de trabajar en las oficinas del área comercial del banco BCI, 
                            lugar donde era la encargada del marketing digital para clientes del banco.
                            <ul>
                                <li>Mailing masivos</li>
                                <li>Campañas en sitio web personal cliente BCI</li>                    
                            </ul>
                        </p>
                    </span>
                    <span>
                        <h2>2008 / gráficas OCM</h2>
                        <p>Práctica laboral en unas las primeras boutiques de diseño donde el cliente tenía trato directo con el diseñador, 
                            además de obtener mucho conocimiento como diseñadora, tuve la oportunidad de conocer sobre impresión a gran escala, 
                            montajes publicitarios, entre otros.
                        </p>
                    </span>
                </div> 
            </div> 
        </section>
        <div class="footer row">
            <div class="col-12 d-inline-flex pl-0 justify-content-around">
                <div>
                    <span class="tit">about<span style="color: #F757EB; padding: 0 3px;">:</span>Me</span>
                    <ul class="t-mag">
                        <li>Estudios</li>
                        <li>Experiencia Laboral</li>
                        <li>Wanderlust</li>
                    </ul>
    
                </div>
                <div>
                    <span class="tit">diseño<span style="color: #FFA700; padding: 0 3px;">;</span>Digital</span>
                    <ul class="t-oran">
                        <li>Marketing Digital</li>
                        <li>Redes Sociales</li>
                        <li>Fotografía de Producto</li>
                    </ul>
                </div>
                <div>
                    <span class="tit">WEB<span style="color: #00FF00; padding: 0 3px;"><strong>.</strong></span></span>
                    <ul class="t-green">
                        <li>UI / UX</li>
                        <li>Front-end</li>
                        <li>Wordpress / Bootstrap</li>
                    </ul>
                </div>
                <div>
                    <span class="tit"><span style="color: #00FFF5; padding: 0 3px;">x</span>caluwonder</span>
                    <ul class="t-cyan">
                        <li>Tienda</li>
                        <li>Instragram</li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#heart").hover(function(){
        $(".world").show();
      });
      $(".cerrar").click(function(){
        $(".world").hide();
      });
    });
    </script>
       <script>
        $(document).ready(function(){
          $("#open").hover(function(){
            $(".estudios").show();
          });
          $(".cerrar2").click(function(){
            $(".estudios").hide();
          });
          $('#show').click(function() {
              $('.menu').toggle("slide");
            });
            $("#open3").click(function(){
            $("#laboral").show();
          });
          $(".cerrar2").click(function(){
            $(".estudios").hide();
          });
        });

        </script>
    
  
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>