button {
  background-color: transparent !important;
  border: none; }

button:focus {
  outline: none; }

a {
  color: white !important; }

a:hover {
  color: white !important;
  text-decoration: none !important; }

a:link {
  color: white !important; }

col {
  padding: 0 !important; }

.main-back {
  background-image: radial-gradient(#4E0090, #230065);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0; }

.about-back {
  background-image: radial-gradient(#860281, #470167);
  height: auto;
  width: 100%;
  position: absolute;
  padding: 0; }

.digital-back {
  background-image: linear-gradient(#581902, #DB6703);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0; }

.calu-t {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 96px;
  padding: 0;
  letter-spacing: 15px;
  margin-left: 10px; }

.wond-t {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 240px;
  padding: 0;
  -webkit-text-stroke: 3px #ffffff;
  color: transparent;
  text-align: center;
  line-height: 124px; }

.wond-t:hover {
  transform: scale(1);
  opacity: 2;
  filter: blur(4px);
  transition: .30s; }

.gd-t {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 32px;
  padding: 0;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  line-height: 110px;
  margin-right: 13px; }

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.plusmain {
  margin-left: 20px; }

.nav-1 {
  position: absolute;
  top: 10%;
  left: 23%; }

.plus-1 {
  font-size: 55px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 300px;
  text-align: left; }

#img1 {
  display: none;
  /*animation-duration: 3s;
   animation-name: slidein;*/ }

.img-1 {
  text-align: left;
  margin: 12px 0 0 38px;
  position: absolute; }

.plus-2 {
  font-size: 55px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 300px;
  text-align: left; }

.nav-2 {
  position: absolute;
  top: 20%;
  right: 30%; }

.img-2 {
  text-align: left;
  position: absolute;
  top: 23%;
  right: 8%; }

#img2 {
  display: none; }

.plus-3 {
  font-size: 55px;
  color: white;
  font-weight: 600;
  width: 200px; }

#img3 {
  display: none; }

.img-3 {
  text-align: left;
  margin: 12px 0 0 38px;
  position: absolute; }

.nav-3 {
  position: absolute;
  bottom: 15%;
  left: 10%; }

.plus-4 {
  content: '';
  font-size: 55px;
  color: white;
  font-weight: 600;
  width: 300px; }

.plus-4:hover {
  transition: 1s;
  transform: rotateZ(45deg); }

#img4 {
  display: none; }

.img-4 {
  position: absolute;
  bottom: 5%;
  right: 13%; }

.nav-4 {
  position: absolute;
  bottom: 5%;
  right: 30%; }

.deco-x {
  font-size: 55px;
  color: #00FFF5;
  font-weight: 600; }

/*transition: 1s;
    transform: rotateZ(45deg);*/
.head {
  margin-top: 4em; }

.btn-back {
  font-size: 40px;
  color: white;
  font-weight: 600;
  padding-right: 30px; }

.tit-1 {
  font-size: 40px;
  font-family: 'Podkova', serif;
  color: white;
  font-weight: 600; }

.deco-text {
  font-size: 40px;
  font-weight: 600; }

.btn-menu {
  font-size: 40px;
  color: white;
  font-weight: 600;
  padding-left: 30px; }

.about {
  z-index: 1; }

.about p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin-top: 3em;
  letter-spacing: 1px; }

.about ul li {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 2em;
  font-weight: 200; }

.plus-about1 {
  font-size: 45px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 26%;
  left: 30%;
  display: block; }

.plus-about2 {
  font-size: 45px;
  color: white;
  font-weight: 600;
  position: absolute;
  right: 30%;
  left: 30%; }

.plus-about3 {
  font-size: 45px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 5%; }

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 2px;
  position: absolute;
  left: 7.7em;
  top: -145%;
  width: 5.1em; }

.img-about {
  width: 400px;
  height: auto; }

.estudios {
  position: relative;
  margin-top: 15%;
  display: none; }

.estudios p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin-top: 4em;
  letter-spacing: 1px; }

.estudios ul li {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 2em;
  font-weight: 200; }

.text-about h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px !important;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 10px; }

.text-about span {
  font-size: 13px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: justify; }

.text-about p {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: justify;
  padding-bottom: 10px; }

#mundo {
  position: relative;
  margin-top: 10%;
  display: none; }

.heart {
  background-image: url(../../img/heart.png);
  width: 36px;
  position: relative;
  height: 32px;
  background-repeat: no-repeat;
  margin-left: 50%;
  margin-top: 60px; }

#laboral {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 300;
  text-align: justify;
  margin-top: 5%;
  display: none; }

#laboral h1 {
  font-size: 22px;
  text-align: center; }

#laboral h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 60px; }

#laboral p {
  font-size: 14px; }

.lab-text {
  width: 39%;
  margin-bottom: 20px; }

/*Footer*/
.footer {
  background-color: #222222;
  height: 250px;
  padding-top: 50px;
  position: relative;
  margin-top: 10%; }

.footer .tit {
  font-family: "Podkova", serif;
  color: #ffffff;
  font-size: 24px; }

.footer .t-mag {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #F757EB;
  list-style: none;
  padding: 10px 0;
  line-height: 35px; }

.footer .t-oran {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #FFA700;
  list-style: none;
  padding: 10px 0;
  line-height: 35px; }

.footer .t-green {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #00FF00;
  list-style: none;
  padding: 10px 0;
  line-height: 35px; }

.footer .t-cyan {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #00FFF5;
  list-style: none;
  padding: 10px 0;
  line-height: 35px; }

.cerrar {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  right: 10%;
  position: absolute;
  top: -25%; }

.cerrar2 {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  left: 50%;
  position: absolute;
  top: -10%; }

button:focus {
  outline: none !important; }
